.header {
    width: 100%;
    height: 65px;
    
    position: fixed;
    z-index: 3;
    /* display: none; */
}

.header-b {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 2px solid #ddd9d9;
    color: #1f1f1f;
}

.h-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.h-ml {
    margin-left: 8px;
    height: calc(100% - 68px);
}

.logo {
    width: 127px;
    height: 32px;
}

.h-logo {
    flex-grow: 0;
    padding: 16.25px 24px;
}

.h-right {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
    flex-grow: 0;
}

.h-nav {
    display: flex;
    align-items: center;
    justify-content: left;
}

.h-nav-item {
    padding-right: 1rem;
    white-space: nowrap;
}

.h-nav-dropdown-item {
    display: flex;
    align-items: center;
}

.h-nav-dropdown-item-btn {
    border: unset;
    display: flex;
    align-items: center;
    background: #fff;
    padding: unset;
}

.login-and-join{
    display: flex;
    align-items: center;
    /* height: 100%; */
    padding-right: 2.5rem;
}

.laj-box {
    box-sizing: border-box;
    border-left: 2px solid #ddd9d9;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 2rem;
}

.user-info {
    height: 68px;
    display: flex;
    align-items: center;
}

/* .user-info:hover {
    background: #ebeaea;
} */

.user-icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 0px solid #E1E1E1;
    border-radius: 50%;
    background-color: #3BAFDA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info-btn {
    padding-left: 1.5rem;
    padding-right: 3rem;
    box-sizing: border-box;
    border: unset;
    border-left: 2px solid #ebeaea;
    display: flex;
    align-items: center;
    background: #fff;
    white-space: nowrap;
}

.light-gray-bg {
    background: #ebeaea;
}

.user-info-btn:hover {
    cursor: pointer;
}

.user-name {
    padding: 0 5px;
}

.h-explore-btn {
    flex-grow: 0;
    height: 52px;
    /* background: #000; */
    transform: translateY(8px);
}

.h-explore-btn-b {
    height: 36px;
    background: #0056d2;
    border: unset;
    color: white;
    font-weight: 600;
    border: unset;
    border-radius: 3px;
    padding: 0;
    padding-left: 4px;
    width: 88px;
}

.h-explore-btn-b:hover {
    color: #0056d2;
    background: white;
    border: 1.5px solid black;
}

#header-search-id .ant-input {
    height: 40px;
    border: 1px solid #1f1f1f;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#header-search-id .ant-input-search-button {
    height: 40px;
    background: #0056d2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 16px;
    padding: 8px 10px 10px 10px;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.h-search {
    flex-grow: 1;
    max-width: 480px;
    min-width: 200px;
}

.bell-icon {
    padding: 8px 10px;
}

.bell-icon:hover {
    background: #ddd9d9;
    cursor: pointer;
}

.nav-item {
    font-size: 0.9rem;

}

.bold {
    font-weight: 600;
}

.ant-dropdown-placement-bottomLeft {
    top: 50px!important;
}

.ant-dropdown-menu {
    padding: 0.5rem 1rem !important;
}

.ant-dropdown-menu-item-only-child:hover {
    background: #eaf8fdfb !important;
}

.user-option-list {
    flex-direction: column;
    min-width: 245px;
}

.user-option-item {
    padding: 1rem;
}

.user-option-item:hover {
    background: rgb(241, 241, 241);
}

.ant-popover-arrow {
    height: 0 !important;
}

#user-option-id.ant-popover-inner {
    padding: unset;
}

.pr {
    padding-right: 0.5rem;
}
