.course-enroll {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    z-index: 1;

    max-width: 1440px;
    margin: 0 auto;
}

.ce-nav {
    overflow: hidden auto;
    height: 100%;
    padding-bottom: 16px;
    background: #fff;
    z-index: 2;
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;

    position: sticky;
    top: 68px;
}

.cen-head {
    padding: 24px;
}

.cen-head-img-box {
    margin-bottom: 8px;
}

.nav-logo-style {
    width: 80px;
    height: 80px;
}

.cen-head-title {
    color: #1f1f1f;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.cen-head-dep {
    color: #636363;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
}

.cen-body {

}

.cen-body ul {
    margin-bottom: 8px;
}

.cenb-item {
    min-height: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    padding: 8px 24px 8px 48px;
    text-decoration: none;
    border-radius: 4px;
}

.cenb-item-text {
    color: rgb(31, 31, 31);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
}

.cenb-dropdown-item {
    position: relative;
    margin: 0px;
    padding: 2px;
}

.cdi-box {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid transparent;
}

.cdi-box:hover {
    border: 1px solid rgb(0, 65, 158);
}

.cdi-box-b {
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    display: flex;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
}

.cdi-btn {
    text-align: inherit;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    z-index: 1;
    border: 0;
    cursor: pointer;
    margin: 0;
    position: relative;
    justify-content: left;
    text-decoration: none;
    background-color: transparent;
}

.cdi-btn-icon {
    flex-shrink: 0;
    color: inherit;
    padding: 0px;
    margin: 2px 12px 0px 0px;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
    overflow: hidden;
}

.cdi-icon-down {
    transform: rotate(90deg);
}

.cdi-btn-text {
    color: rgb(31, 31, 31);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
}

.cdi-dropdown {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    min-height: 0px;
    transition-duration: 211ms;
    height: 0;
    overflow: hidden;
}

.cd-show {
    height: auto;
    overflow: visible;
}

.cdi-dropdown-b {
    display: flex;
    width: 100%;
    padding: 0 16px 16px;
}

.cdi-dropdown-b ul {
    width: 100%;
}

.id-box {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    min-height: 40px;
    overflow: visible;
    padding: 8px 8px 8px 48px;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(25, 25, 25);
    background-color: rgb(245, 247, 248);
    position: relative;
}

.id-box::before {
    content: "";
    width: 4px;
    height: 40px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    background: rgb(0, 86, 210);
}

.id-icon-box {
    margin-right: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.id-icon {
    width: 20px;
    min-width: 20px;
    height: 20px;
    background: rgb(195, 197, 198);
    border-radius: 100px;
}

.id-text {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.module {
    padding: 12px 0px 48px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.m-left {
    padding-bottom: 500px;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.m-right {
    position: sticky;
    top: 80px;
    align-self: baseline;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media only screen and (min-width: 1024px) {
    .m-left {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%;
    }
    .m-right {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }
}

.ml-main-box {
    margin-bottom: 16px;
    min-width: 300px;
}

.ml-main-pd {
    padding: 2px;
}

.ml-main {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgb(146, 149, 153);
}

.main-head {
    margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        font-size: 30px;
}

.main-head-btn {
    text-align: inherit;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    flex-grow: 1;
    z-index: 1;
    background: #fff;
    border: unset;
}

.head-icon-box {
    /* flex-basis: 30px */
    flex-shrink: 0;
    color: inherit;
    padding: 0px;
    margin: 2px 12px 0px 0px;
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
}

/* .down-hib {
    transform: rotate(90deg); 
} */

.head-btn-text {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.head-btn-text {
    color: rgb(31, 31, 31);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
}

.main-body {
    margin: 0px 16px;
    height: 0px;
    overflow: hidden;
    transition-duration: 373ms;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* .main-body-show {
    height: auto;
    overflow: visible;
} */

.mb-head {
    display: flex;
    padding: 8px 0px 0px 32px;
    flex-wrap: wrap;
    gap: 12px 24px;
}

.mbh-icon-box {
    overflow: hidden;
    margin-right: 4px;
}

.mbh-text-box {
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    display: inline;
}

.mb-head span {
    display: flex;
    align-items: center;
}

.mb-hr {
    border: none;
    height: 1px;
    background: rgb(146, 149, 153);
    margin: 16px -16px 0px;
}

.mb-des {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.25s ease-in-out 0s;
    position: relative;
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    border: none;
    margin: 0px;
    padding: 16px 24px;
}

.mb-des-content {
    flex-grow: 0;
}

.mb-content {

}

.mbc-body-box {
    height: 0;
    overflow: hidden;
}

.mbc-body {
    margin: 0px 16px 16px;
    padding-top: 8px;
}

.mbc-body ul {
    margin-bottom: 10px;
}

.mbc-body ul li {
    line-height: 21px;
    font-family: OpenSans,Arial,sans-serif;
    font-size: 1em;
}

.mbcb-link {
    
}

.mbcb-item {
    margin: 0px -8px;
    padding: 8px 16px;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.mbcb-item-a {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-sizing: border-box;
}

.mbcb-item-b-btn {
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    transition: none 0s ease 0s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 86, 210);
    box-shadow: rgb(0 86 210) 0px 0px 0px 1px inset;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 12px 32px;
    border: unset;
}

.mbcb-item-icon {
    color: rgb(29, 124, 80);
    margin: 12px 12px 0px 0px;
}

.mbcb-item-info {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
}

.mbcb-item-info p {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.sub-item-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}

.sub-item-info-a {
    display: inline;
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    color: rgb(99, 99, 99);
}

.sii-time {
    display: inline;
}

.sii-time-a {
    padding: 0px 4px;
}

.sii-time-b {
    white-space: nowrap;
    color: #595959;
}

.down-hib {
    transform: rotate(90deg); 
}

.main-body-show {
    height: auto;
    overflow: visible;
}

.m-right-content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: -8px;
    width: calc(100% + 16px);
}

@media only screen and (min-width: 1024px) {
    .m-right-content {
        padding-left: 32px;
        padding-top: 4px;
    }
}

.mr-item {
    padding: 8px;
    width: 100%;
}

.mri-content {
    position: relative;
}

.mri-schedule {
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
}

.sc-title-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.sc-title {
    color: #1f1f1f;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.sc-start-date-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.location-icon-box {
    margin: 0px 8px 0px 0px;
}

.sc-start-date-box p {
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.vertical-dot-box {
    margin: -4px 0px 0px 12px;
    display: flex;
}

.mri-hr {
    background: rgb(229, 231, 232);
    margin: 0px 0px 16px;
    border: none;
    height: 1px;
}

.mri-uptodate {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.uptodate-hr {
    background: rgb(229, 231, 232);
    margin: 24px 0px 12px;
    border: none;
    height: 1px;
    flex-shrink: 0;
}

.uptodate-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.uptodate-icon-box {
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}

.uptodate-info-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8px;
}

.uptodate-title-text {
    color: #1f1f1f;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    text-align: center;
}

.uptodate-text {
    text-align: center;
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.weekly-goal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
}

.weekly-goal-a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.wg-btn-box {
    margin-top: 8px;
}

.wg-btn {
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    transition: none 0s ease 0s;
    color: rgb(0, 86, 210);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 86 210) 0px 0px 0px 1px inset;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 8px 16px;
    font-size: 0.875rem;
    border: 0.5px solid rgb(0 86 210);
}

.wg-left {
    display: block;
}

.wg-right {
    display: flex;
    align-items: center;
}

.wg-left h3 {
    color: #1f1f1f;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.wg-time {
    margin-bottom: 12px;
}

.wg-time p {
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.wg-days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.wg-day {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
    margin: -2px;
    width: calc(100% + 4px);
}

.wg-day-icon-box {
    padding: 2px;
    height: 24px;
}

.wg-day-text-box {
    padding: 2px;
}

.wg-day-text-box p {
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.bg-white {
    background-color: #fff;
}

.note-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden auto;
    flex-basis: 100%;
    flex-grow: 0;
}

.note-padding {
    flex-grow: 1;
    padding: 0px 16px 16px;
}

@media only screen and (min-width: 1024px) {
    .note-padding {
        padding-left: 78px;
    }
}

.note-main {
    display: block;
}

@media only screen and (min-width: 1024px) {
    .note-pd {
        padding-left: 78px;
    }
    .note {
        margin: 32px 48px;
    }
}

.note-title {
    color: #1f1f1f;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin: 0px 0px 48px;
}

.note-filter {
    margin: 12px 0px 24px;
}

@media only screen and (min-width: 600px) {
    .note-filter {
        max-width: 306px;
    }
}

.nf {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: 100%;
}

.select-list {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 12px;
    border: 1px solid rgb(0, 65, 158);
    border-radius: 6px;
    padding-right: 0px;

    opacity: 1;
    transform: none;
    min-width: 306px;
    max-width: 400px;
    width: 400px;
    transition: opacity 0ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 0ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: absolute;
    top: 90px;
    left: 0px;
    transform-origin: 0px 0px;

    padding: 16px;
    display: none;
}

.show-select-list {
    display: block;
}

.select-list ul {
    overflow: auto;
    max-height: 256px;
    width: auto;
}

.select-list ul li {
    background: rgb(243, 248, 255);
    transition: none 0s ease 0s;

    /* padding: 4px 2px; */
    overflow: visible;
    white-space: unset;
    border-radius: 4px;
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
}

.mt-0 {
    margin-top: unset;
}

.sl-item-text {
    width: 100%;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}

.sl-item {
    display: flex;
    padding: 8px 6px;
    /* background: rgb(243, 248, 255); */
    color: rgb(0, 65, 158);
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
}

.selected-icon {
    margin-top: 2px;
    margin-left: 12px;
    display: block;
    color: rgb(0, 65, 158);
}

.nf-label {
    transform: initial;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #1f1f1f;
}

.nf-select {
    margin-top: 16px;
    position: relative;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: block;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    background: rgb(255, 255, 255);
    align-self: stretch;
    border: 1px solid rgba(0, 0, 0, 0.87);
    width: 100%;
    padding: 12px;
}

.nf-select:hover {
    cursor: pointer;
}

.nf-select-pd {
    position: relative;
    color: rgb(31, 31, 31);
    height: 24px;
    width: 100%;
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    padding-right: 44px;
}

.nf-select-content {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nf-select-icon {
    position: absolute;
    top: 50%;
    color: rgb(31, 31, 31);
    right: 12px;
    left: auto;
    transform: translate(0px, -50%);
}

.note-content {
    margin: 48px 0px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nc-row-1 {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.nc-row-2 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: -0.1px;
    margin: 10px 0;
}

.discussion-wrapper {
    display: flex;
    width: 100%;
    padding: 0px 16px 16px;
}

@media only screen and (min-width: 1024px) {
    .discussion-wrapper {
        padding-left: 78px;
    }
}

.discussion {
    display: block;
    width: 100%;
}

.dis-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dc-main {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media only screen and (min-width: 1440px) {
    .dc-main {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }
}

.dcm-title-box {
    padding: 12px
}

.title-box-pd {
    padding: 32px 0px;
}

.title-box-text {
    color: rgb(31, 31, 31);
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.dcm-content {
    padding: 12px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dcmc-left {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.dcmc-right {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media only screen and (min-width:1024px) {
    .dcmc-left {
        flex-grow: 0;
        max-width: 75%;
        flex-basis: 75%;
    }

    .dcmc-right {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.search-row-a {
    width: 330px;
    margin: 0px 16px 0px 0px;
    display: flex;
}

@media only screen and (min-width: 600px) {
    .search-row-a {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }
}

.sr-input-box {
    background: rgb(255, 255, 255);
    /* border: 1px solid rgb(102, 102, 102); */
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 8px 0px 0px;
    display: flex;
}

.sr-input-box .ant-input {
    border: 1px solid rgb(102, 102, 102);
    border-radius: 4px;
}

.sr-search-btn {
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    -webkit-transition: none;
    transition: none;
    color: #fff;
    background-color: #0056d2;
    box-shadow: inset 0 0 0 1px #0056d2;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 8px 16px;
    border: unset;
    cursor: pointer;
}

.search-row-btn {
}

.create-post-btn {
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    transition: none 0s ease 0s;
    color: rgb(0, 86, 210);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 86 210) 0px 0px 0px 1px inset;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 8px 16px;
    border: unset;
    cursor: pointer;
    height: 100%;
}

.tag-section {
    padding-top: 32px;
    display: block;
    width: 100%;
}

.all-forum-box {
    display: flex;
    width: 100%;
}

.all-forum {
    padding: 24px;
    list-style: none;
    margin: 0px;
    width: 100%;
    border: 1px solid rgb(229, 231, 232);
}

.af-item {

}

.af-item a {
    color: inherit;
    text-decoration: none;
}

.af-item-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.af-item-a {
    margin-bottom: 16px;
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}

.af-item-a p {
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    padding: 0px;
}

.af-item-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.af-item-a span {
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.af-item-b {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.item-b-1 {
    padding: 4px;
}

.item-b-1 p {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.post-item-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 40px;
    border-top: 1px solid rgb(184, 186, 187);
}

.post-item {
    display: block;
    width: 100%;
}

.pi-item {
    list-style: none;
    padding: 24px 0px;
    position: relative;
    border-bottom: 1px solid rgb(184, 186, 187);
}

.pi-item-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
}

.pii-row-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.pii-row-1 p {
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin: 0px 0px 8px;
}

.pii-row-2 {
    display: flex;
    justify-content: flex-start;
    flex-flow: initial;
}

.pii-row-2 h2 {
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.pii-row-2 h2 a {
    display: inline;
    color: rgb(0, 86, 210);
    padding: 0px;
    text-decoration: underline;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.pii-row-3 {
    padding: 12px 0px 16px;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.pii-row-3:first-child {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.pii-row-4{
    display: flex;
    justify-content: space-between;
}

.r4-a {
    display: flex;
}

.r4-a span button {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    transition: none 0s ease 0s;
    text-decoration: none;
    color: rgb(0, 86, 210);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 8px;
}

.r4-a span button:hover {
    cursor: pointer;
    text-decoration: underline;
    background: rgb(226, 243, 250);
}

.r4-a span button:first-child {
    display: flex;
}

.r4-icon {
    margin-right: 8px;
}

.like-icon-style {
    fill: rgb(0, 86, 210);
    width: 16px;
}

.r4-a-1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.r4-round {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    vertical-align: middle;
    background-color: rgb(235, 243, 255);
}

.r4-a-1-text {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 0.875rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    line-height: 36px;
    display: inline-block;
    padding-left: 7px;
}

.r4-a-2 {
    padding: 0px 4px;
    transform: translateY(7px);
}

.r4-a-3 {
    color: rgb(31, 31, 31);
    letter-spacing: 0px;
    font-size: 0.875rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    line-height: 36px;
}

.no-activity {
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin-top: 24px;
}

.mc-right-box {
    border: 1px solid rgb(229, 231, 232);
    padding: 24px;
    margin: 0px 0px 24px;
    width: 100%;
}

.rb-module {
    margin: 0px 0px 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.rbm-1 h2 {
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.rbm-1-a {
    margin: 16px 0px 8px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.rbm-1-a p {
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    min-height: 24px;
}

.rbm-1-b {
    color: #525252;
    font-size: 12px;
    line-height: 18px;
    font-family: OpenSans,Arial,sans-serif;
}

.m-4px {
    margin: 0 4px;
}

.rbm-2 {
    padding: 24px 0px 0px;
}

.rbm-2-a {
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    transition: none 0s ease 0s;
    color: rgb(0, 86, 210);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 86 210) 0px 0px 0px 1px inset;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 8px 16px;
}

.rbm-2-icon {
    margin-left: 4px;
    transform: translateY(2px);
    display: inline-block;
    width: initial;
}

.rbd-head {
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin: 0px 0px 16px;
}

.rbd-content p{
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    min-height: 24px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.guide-line {
    margin: 16px 0px 0px;
}

.guide-line a {
    vertical-align: baseline;
    display: inline;
    color: rgb(0, 86, 210);
    padding: 0px;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
}

.guideline-icon {
    margin-left: 8px;
    transform: translateY(2px);
    width: initial;
    display: inline-block;
}

.moder-list {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

.moder-item {
    position: relative;
    display: inline-block;
    margin: 0px 16px 12px 0px;
}

.moder-item-a {
    color: inherit;
    text-decoration: none;
}

.mia-box {
    position: relative;
}

.mia-info {
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: absolute;
    margin-left: 24px;
    margin-top: -14px;
    background-color: rgb(0, 86, 210);
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 18px;
    font-family: OpenSans,Arial,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mia-round {
    background-color: rgb(235, 243, 255);
    /* color: #fff; */
    text-transform: uppercase;
    border-radius: 100%;
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-input {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.ti-label {
    flex-grow: 0;
    flex-basis: 4rem;
    align-items: center;
}

.ti-input {
    flex-grow: 1;
}

.body-input {
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    min-height: 180px;
    margin-top: 1rem;
}

.message-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.message-pd {
    padding: 0 16px 16px;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 1024px) {
    .message-pd {
        padding-left: 78px;
    }
}

.message {
    display: flex;
    justify-content: center;
}

.message-content {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
}

@media screen and (min-width: 1440) {
    .message-content {
        flex-grow: 0;
        flex-basis: 83.333333%;
        max-width: 83.333333%;
    }
}

.mc-head {
    color: rgb(31, 31, 31);
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin: 48px 0px 32px;
}

.mc-sec {
    padding: 24px 0px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-top: 1px solid rgb(209 209 209);
}

.mc-icon-sec {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
    padding: 0px 24px 0px 0px;
}

.mc-content-sec {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
}

@media screen and (min-width: 1024px) {
    .mc-icon-sec {
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }
}

.mc-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
}

.cs-1 {
    display: flex;
    padding: 0px 0px 16px;
    width: 100%;
    flex-wrap: wrap;
}

.cs-1-a {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.cs-1-a h2 {
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.cs-1-b {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 600px) {
    .cs-1-a {
        max-width: 83.333333%;
    flex-basis: 83.333333%;
    }
    .cs-1-b {
        text-align: right;
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%;
    }
}

.cs-1-b p {
    color: #636363;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: 400;
}

.cs-2 {
    padding: 0px 0px 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cs-2 p {
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.cs-3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 24px;
}

.cs-3 a {
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    max-width: 320px;
    min-width: unset;
    transition: none 0s ease 0s;
    color: rgb(0, 86, 210);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 86 210) 0px 0px 0px 1px inset;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 8px 16px;
}

.ci-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 0;
    flex-wrap: wrap;
}

.ci-pd {
    padding: 0px 16px 16px;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 1024px) {
    .ci-pd {
        padding-left: 78px;
    }
}

.ci-content {
    display: block;
    margin-bottom: 32px;
}

.ci-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.ci-title h1 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.ci-title p {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.ci-about {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.cb-text {
    height: auto;
    position: relative;
}

.cb-text p {
    font-size: 14px;
    line-height: 21px;
    font-family: OpenSans,Arial,sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
}

.cb-text p:first-child {
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
}

.cb-btn {
    margin-top: 5px;
}

.cb-btn button {
    color: #2668b8;
    font-weight: 700;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.cb-btn button:hover {
    cursor: pointer;
}

.cb-s-i {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
}

.cb-s-i::before {
    content: "\f077";
}

.ci-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.ci-teacher ul {
    display: block;
}

.cit-pd {
    padding: 15px 16px;
}

.cit-content {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.t-content-a {
    max-width: 88px;
    max-height: 88px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
}

.t-content-b {
    display: flex;
    flex-direction: column ;
}

@media screen and (max-width: 1300px) {
    .t-content-b {
        padding-left: 30px;
    }
}

.t-content-b-1 {
    margin-bottom: 3px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.t-content-b-1 span a{
    color: #2668b8;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
    background: transparent;
}

.teacher-style {
    width: 88px;
}

.t-content-b-2 {
    margin-top: 2px;
    color: rgba(0,0,0,.87);
    font-size: 12px;
    line-height: 18px;
    font-family: OpenSans,Arial,sans-serif;
}

.ci-basic {
    margin-bottom: 32px;
    margin-top: 30px;
    display: block;
}

.ci-basic table {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.ci-basic table tbody tr {
    vertical-align: top;
}

.ci-basic table tbody tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.basic-col-1 {
    border: 1px solid #ddd;
}

.basic-col-2 {
    border: 1px solid #ddd;
}

@media screen and (min-width:768px) {
    .basic-col-1:first-child {
        min-width: 200px;
    }
    .basic-col-1 {
        padding: 15px 20px;
    }
    .basic-col-2 {
        padding: 15px 20px;
    }
}

.bc-a {
    color: rgb(38, 104, 184);
    font-weight: bold;
    display: inline;
}

.star-list {
    display: inline-flex;
    margin-right: 16px;
}

.bc2-text {
    display: inline;
}

.ci-section {
    display: block;
    margin-bottom: 32px;
}

.ci-section h2 {
    border-bottom: 1px solid rgba(0,0,0,.12);
    width: 100%;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 400;
    display: flex;
}

.ci-section h2 span {
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #a07e46;
    margin-bottom: -1px;
}

.ci-section-content {
    margin-top: 24px;
    display: block;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
}

.ci-section-head {
    color: rgba(0,0,0,.55);
    background-color: #f6f6f6;
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 48px;
    padding: 15px 16px;
}

.ci-section-head h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.ci-section-body-pd {
    padding: 16px 32px 40px;
    background-color: #fff;
}

.ci-section-body {
    margin-top: 24px;
    font-size: 14px;
}

.csb-1 {
    padding-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.csb-2 {
    padding-bottom: 16px;
}

.csb-2 p {
    margin-bottom: 10px;
}

.csb-3 {
    display: block;
}

.csb-3-a {
    display: flex;
}

.csb-3-a-text {
    margin-left: 8px;
}

.expand-btn {
    margin-left: 8px;
    font-size: 14px;
    color: #2668b8;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    background: transparent none repeat 0 0 scroll;
    border: 0;
}

.csb-3-b-list {
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 1em;
    display: none;
}

.csb-3-b ol li {
    margin-top: 10px;
}

.csb-3-b ol li span {
    margin-left: 8px;
}

.csb-3-b ol li a {
    cursor: pointer;
    text-decoration: none;
    color: #0062e4;
    background: transparent;
}

.csb-3-c {
    display: none;
}

.syl-show {
    display: block;
}

.syl-hide {
    display: none;
}

.csb-3-c button {
    margin-left: 8px;
    font-size: 14px;
    color: #2668b8;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    background: transparent none repeat 0 0 scroll;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.hiw-head {
    color: #525252;
    font-weight: 600!important;
    margin-bottom: 12px;
    padding: 15px 16px;
}

.hiw-body-pd {
    padding: 15px 16px;
}

.hiw-body {
    margin-bottom: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: 88px;
    overflow-y: hidden;
    transition: height 0.4s;
}

.hiw-show {
    height: auto;
}

.hiw-btn {
    display: block;
}

.hiw-btn button {
    margin-left: 8px;
    font-size: 14px;
    color: #2668b8;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    background: transparent none repeat 0 0 scroll;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.hiw-body h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    margin: 32px 0px 12px;
    font-weight: 600!important;
}

.hiw-body p {
    letter-spacing: 0px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
    min-height: 24px;
    margin: 0 0 10px;
}

.no-m-top {
    margin-top: unset!important;
}

.mt-10 {
    margin-top: 10px;
}

.catalog-link {
    display: block;
    margin-bottom: 20px;
    color: #2668b8;
    font-weight: 700;
    text-decoration: none;
    background: transparent;
}

.related-course-pd {
    padding: 30px;
    transition: all .25s ease-in-out;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
}

.related-course {
    font-size: 14px;
    line-height: 21px;
    font-family: OpenSans,Arial,sans-serif;
    display: block;
    color: #333;
}

.rc-head {
    border-bottom: 1px solid rgba(0,0,0,.12);
    width: 100%;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    display: flex;
}

.rc-a {
    text-decoration: none;
    background: transparent;
    color: #0062e4;
    cursor: pointer;
    background-color: #fff;
    min-height: 120px;
    
}

.rc-a-pd {
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.rc-a-pd:hover {
    cursor: pointer;
    background: rgba(221, 221, 221, 0.288);
}

.rc {
    display: flex;
    margin-bottom: 10px;
}

.rc-1 {

}

.rc-2 {
    margin: 0 30px;
}

.rc-2-a {
    display: flex;
}

.rc-2-a h3 {
    color: rgba(0,0,0,.87);
    font-size: 20px;
    line-height: 24px;
    margin: 12px 0 8px;
    font-weight: 400;
}

.rc-2-b span {
    color: #666;
}

.rc-img-style {
    width: 100px;
}
