@import "./common.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #f5f7f8;
  --header-height: 65px;
}

.app {
  width: 100%;
}

.logo {
  width: 127px;
  height: 32px;
}

/* .app-body {
  position: relative;
  padding: 36px 0;

  display: block;
  max-width: 1017px;
  margin-left: auto;
  margin-right: auto;
} */

.app-body-bg {
  background: #f5f7f8;
  padding-top: 68px;
}

.full-bg {
  background: #f5f7f8;
}